* {
  margin: 0;
  padding: 0;
  }
.dark{
  background-image: url("./images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height:auto;
}
.card-front {
  position: absolute;
    background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 447px;
  height: 245px;
  top: 10%;
  left: 15%;
}
.card-back {
  position: absolute;
    background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 447px;
  height: 245px;
  top: 50%;
  left: 45%;
}
.card-back, .card-front{
  scale: .8;
}
.form-container{
  align-self: center;
  padding: 5rem 7rem 1rem 1rem
}
.mycontainer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-left: 0;
}
.btn{
  background-color:hsl(278, 68%, 11%);
  border: none;
}
.card-front > span > svg {
  margin: 10px ;
}
.card-front > h2 {
  color: white;
  padding-left: 4rem;
  padding-top: 4rem;
}
.cardname {
  display: flex;
  justify-content: space-evenly;
  color: white;
}
.card-back>h5{
  color: white;
  padding: 6.7rem 0 0 22rem;
}
.dark-mobile{
  display: none;
}

@media only screen and (max-width : 768px) {
.dark{
display: none;
}
.dark-mobile{
  display: block;
  background-image: url("./images/bg-main-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 35vh;
  width: 100%;
}
.card-front {
  position: absolute;
  background-image: url("./images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size:contain;
  top: 50%;
  left: -15%;
  scale: .6;
}
.card-back {
  position: absolute;
  background-image: url("./images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: contain;
  top: 5%;
  left: -5%;
  scale:.6;
}
.form-container{
  align-self: center;
  padding: 7rem 3rem 2rem 3rem
}
}
